<%- include("partials/header"); -%>

    <form action="/" method="post">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="npiNumber">NPI Number</label>
        <input type="text" id="npi Number" name="npiNumber">
        <label for="taxonomyDesc">Taxonomy Description</label>
        <input type="text" id="taxonomyDesc" name="taxonomyDesc">
        <label for="cityName">City</label>
        <input type="text" id="cityName" name="cityName">
        <label for="taxonomyDesc">State</label>
        <input type="text" id="state" name="state">
        <label for="zipCode">Zip Code</label>
        <input type="text" id="zipCode" name="zipCode">

        

        <button type="submit">Submit</button>
    </form>
    <%- include("partials/footer"); -%>